$container-width: 960px;
$nav-color: #f2f2f2;
$footer-height: 140px;

body {
	min-height: 100%;
	width: 100%;
	font-size:14pt;
}

.nav-container {
	background-color: $nav-color;
}

.main-nav {
	max-width: $container-width;
	margin: 0 auto;
	border: 0px;
	background-color: transparent;
}

.jumbotron {
	padding:30px 0;
}

.navbar-brand {
	height:80px;
	padding:0;
	margin:4px;
}

#brand-img {
	height:80px;
	width:auto;
	padding: 0 10px;
}

.navbar-nav > li > a {
	padding: 35px 20px;
}

.navbar-form {
	padding: 20px 0;
}

.content {
	padding: 0px 15px 0px 15px;
	margin: 0 auto 40px auto;
	max-width: $container-width;
}

.header {
	background-color: transparent;
}

.footer {
/*	position: absolute;
	bottom: 0; */ /* uncomment for 'sticky footer' */
	width: 100%;
	background-color: $nav-color;
	
	.container {
		width:100%;
		max-width: $container-width;
		padding:0;
		
		.row > div {
			padding:10px 20px;
		}
	}
}

